<div class="carousel">
  <p class="project-description">
    Teller interface is used by the teller to call the next client. It is
    recording teller's service duration in order for the system to compute the
    average service time and estimated waiting time of every user.
  </p>
  <div class="slideshow-container">
    <div
      *ngFor="let slide of slides; let i = index"
      class="mySlides4 fade"
      [style.display]="slideIndex - 1 === i ? 'block' : 'none'"
    >
      <div class="numbertext">{{ i + 1 }} / {{ slides.length }}</div>
      <img [src]="slide.url" style="width: 100%" alt="" />
    </div>

    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
  </div>
  <br />
</div>
