<div class="carousel">
  <p class="project-description">
    A student project that aims to eliminate the use of cash in campus due to
    the risk of spreading the virus during pandemic and post-pandemic times.
  </p>
  <div class="slideshow-container">
    <div
      *ngFor="let slide of slides; let i = index"
      class="mySlides fade"
      [style.display]="slideIndex - 1 === i ? 'block' : 'none'"
    >
      <div class="numbertext">{{ i + 1 }} / {{ slides.length }}</div>
      <img [src]="slide.url" style="width: 100%" alt="" />
    </div>

    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
  </div>
  <br />
</div>
