<div class="about-container">
  <div class="left-about">
    <h4>Information About me</h4>
    <p>
      Hi, I'm Raymart Salvador, a computer engineering undergraduate with a
      passion for web development. <br />
      <br />
      A dedicated Frontend Developer with a keen aspiration to transition into a
      well-rounded Full-Stack Developer. Proficient in front-end technologies,
      driven to craft seamless user experiences, and eager to fortify back-end
      capabilities. Committed to propelling innovation and growth within a
      dynamic team, while steadfastly absorbing new technologies.
    </p>
    <div class="button">
      <app-redundant-button
        [buttonText]="buttonText"
        [fontAwesome]="fontAwesome"
      ></app-redundant-button>
    </div>
  </div>
  <div class="right-about">
    <div class="about-item">
      <div class="abt-text">
        <p class="large-text">3</p>
        <p class="small-text">
          Projects <br />
          Completed
        </p>
      </div>
    </div>
    <div class="about-item">
      <div class="abt-text">
        <p class="large-text">1</p>
        <p class="small-text">
          Year of <br />
          experience
        </p>
      </div>
    </div>
  </div>
</div>
<div class="about-stats">
  <h4 class="stat-title">My Skills</h4>
  <div class="progress-bars">
    <div class="progress-bar">
      <h3 class="prog-title">FRONT-END</h3>
      <div class="row">
        <div class="individual">
          <div class="fa">
            <i class="fab fa-angular"></i>
          </div>
          <p>Angular</p>
        </div>
        <div class="individual">
          <div class="fa">
            <i class="fab fa-html5"></i>
          </div>
          <p>HTML</p>
        </div>
        <div class="individual">
          <div class="fa">
            <i class="fab fa-css3"></i>
          </div>
          <p>CSS</p>
        </div>
        <div class="individual">
          <div class="fa">
            <i class="fab fa-js"></i>
          </div>
          <p>JavaScript</p>
        </div>
      </div>
    </div>
    <div class="progress-bar">
      <h3 class="prog-title">BACK-END</h3>
      <div class="row">
        <div class="individual">
          <div class="fa">
            <i class="fab fa-js"></i>
          </div>
          <p>Express Js</p>
        </div>
        <div class="individual">
          <div class="fa">
            <i class="fa-solid fa-database"></i>
          </div>
          <p>MongoDB</p>
        </div>
      </div>
    </div>
    <div class="progress-bar">
      <h3 class="prog-title">PROGRAMMING LANGUAGES</h3>
      <div class="row">
        <div class="individual">
          <div class="fa">
            <i class="fab fa-java"></i>
          </div>
          <p>Java</p>
        </div>
        <div class="individual">
          <div class="fa">
            <i class="fab fa-python"></i>
          </div>
          <p>Python</p>
        </div>
        <div class="individual">
          <div class="fa">
            <i class="fa-solid fa-terminal"></i>
          </div>
          <p>C++</p>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class="stat-title">My Timeline</h4>
<div class="timeline">
  <div class="timeline-item">
    <div class="tl-icon">
      <i class="fas fa-briefcase"></i>
    </div>
    <p class="tl-duration">2017 - 2019</p>
    <h5>
      ICT-Computer Programming<span>
        - Binan City Senior High School - San Antonio Campus</span
      >
    </h5>
    <p>
      I was a part of the ICT-Computer Programming strand. I learned a lot of
      things about programming and how to use it in real life.
    </p>
  </div>
  <div class="timeline-item">
    <div class="tl-icon">
      <i class="fas fa-briefcase"></i>
    </div>
    <p class="tl-duration">2019 - 2023</p>
    <h5>
      COMPUTER ENGINEERING GRADUATE<span>
        - Polytechnic University of the Philippines</span
      >
    </h5>
    <p>
      I graduated at Polytechnic University of the Philippines with a degree of
      Bachelor of Science in Computer Engineering. I learned a lot of things
      about computer hardware and software. But I focused on software more.
    </p>
  </div>
</div>
