<div class="all">
  <div class="title">Queuewise</div>
  <div class="containers" id="web">
    <div class="container">
      <p class="title">Public View</p>
      <app-reusable-carousel4 [slides]="slides3"></app-reusable-carousel4>
      <p class="title">Teller View</p>
      <app-reusable-carousel5 [slides]="slides4"></app-reusable-carousel5>
      <p class="title">Queuewise</p>
      <app-reusable-carousel6 [slides]="slides5"></app-reusable-carousel6>
    </div>
  </div>
</div>

<div class="all">
  <div class="title">Web Application</div>
  <div class="containers" id="web">
    <div class="container">
      <p class="title">Dental Clinic Website</p>
      <app-reusable-carousel3 [slides]="slides2"></app-reusable-carousel3>
    </div>
  </div>
</div>
<div class="all">
  <div class="title">Mobile Application</div>
  <div class="containers">
    <div class="container">
      <p class="title">Cashless System</p>
      <app-reusable-carousel [slides]="slides"></app-reusable-carousel>
    </div>
    <div class="container">
      <p class="title">Water Level Monitoring System</p>
      <app-reusable-carousel1 [slides]="slides1"></app-reusable-carousel1>
    </div>
  </div>
</div>
