.containers {
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-grey-0);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  .container {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: var(--br-sm-2);
    border: 1px solid var(--color-grey-4);
  }
}

#web {
  grid-template-columns: 1fr;
  height: auto;
}

.all {
  margin-bottom: 100px;

  .title {
    margin: 1rem;
    font-size: 35px;
    font-weight: bold;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;




  }
}

.color-secondary {
  color: var(--color-secondary);
}

.tech-contain {
  display: flex;
  padding: 20px;
  gap: 10px;
  margin-left: 40px;
  flex-wrap: wrap;

  .tech {
    background-color: var(--color-grey-4);
    font-weight: normal;
    padding: 2px 7px;
    font-size: 15px;
    columns: var(--color-white);
    height: max-content;
    border-radius: 40px;
  }
}