<div class="portfolios">
  <div class="portfolio-item">
    <div class="image">
      <img [src]="_ASSETS+'/assets/images/cashlessSystem1.jpg'" alt="">
    </div>
    <div class="hover-items">
      <h3>Project Source</h3>
      <div class="icons">

        <a href="https://www.facebook.com/MartMattMatt/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/martmatt13/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/4r3m" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/salvador-raymart-g-a08394271/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="image">
      <img [src]="_ASSETS+'/assets/images/kalisto.png'" alt="">
    </div>
    <div class="hover-items">
      <h3>Project Source</h3>
      <div class="icons">
        <a href="https://www.facebook.com/MartMattMatt/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/martmatt13/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/4r3m" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/salvador-raymart-g-a08394271/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="image">
      <img [src]="_ASSETS+'/assets/images/lgbtq.png'" alt="">
    </div>
    <div class="hover-items">
      <h3>Project Source</h3>
      <div class="icons">
        <a href="https://www.facebook.com/MartMattMatt/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/martmatt13/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/4r3m" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/salvador-raymart-g-a08394271/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="portfolio-item">
    <div class="image">
      <img [src]="_ASSETS+'/assets/images/webDev1.png'" alt="">
    </div>
    <div class="hover-items">
      <h3>Project Source</h3>
      <div class="icons">
        <a href="https://www.facebook.com/MartMattMatt/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/martmatt13/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/4r3m" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/salvador-raymart-g-a08394271/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>
