<header class="container header active" id="home">
  <div class="header-content">
    <div class="left-header">
      <div class="h-shape"></div>
      <div class="image">
        <img src="https://drive.google.com/uc?export=view&id=1Ql5nITm7tCAkALWGzzlut7khyDLEgQsA" alt="">
      </div>
    </div>
    <div class="right-header">
      <h1 class="name">
        Hi, I'm <span>Jhunmelvin</span>
        A Web Developer.
      </h1>
      <p>
        A person that can work hard and smart at the same time.
      </p>
      <app-redundant-button [buttonText]="buttonText" [fontAwesome]="fontAwesome"></app-redundant-button>
    </div>
  </div>
</header>
<main>
  <section class="container about" id="about">
    <div class="main-title">
      <h2>About <span>me</span><span class="bg-text">All of my stats</span></h2>
    </div>
    <div>
      <app-about></app-about>
    </div>
  </section>

  <section class="container" id="portfolio">
    <div class="main-title">
      <h2>My <span>Portfolio</span><span class="bg-text">Previous Works</span></h2>
    </div>
    <p class="port-text">
      Here is some of my work that I've done in various programming languages.
    </p>
    <div>
      <app-portfolio></app-portfolio>
    </div>
  </section>


  <section class="container contact" id="contact">
    <div class="contact-container">
      <div class="main-title">
        <h2>Contact <span>Me</span><span class="bg-text">Contact Details</span></h2>
      </div>
      <app-contact></app-contact>
    </div>
  </section>
</main>
<div class="controls">
  <div class="control active-btn" data-id="home">
    <i class="fas fa-home"></i>
  </div>
  <div class="control" data-id="about">
    <i class="fas fa-user"></i>
  </div>
  <div class="control" data-id="portfolio">
    <i class="fas fa-briefcase"></i>
  </div>
  <div class="control" data-id="contact">
    <i class="fas fa-envelope-open"></i>
  </div>
</div>
<div class="theme-btn">
  <i class="fas fa-adjust"></i>
</div>
