<div class="carousel">
  <p class="project-description">
    This part of the system is a live viewing of the queue status. It is where scanning of the QR code is redirected.
  </p>
  <div class="slideshow-container">
    <div
      *ngFor="let slide of slides; let i = index"
      class="mySlides6 fade"
      [style.display]="slideIndex - 1 === i ? 'block' : 'none'"
    >
      <div class="numbertext">{{ i + 1 }} / {{ slides.length }}</div>
      <img [src]="slide.url" style="width: 100%" alt="" />
    </div>

    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
  </div>
  <br />
</div>
